services:
  frontend:
    image: react-app2:latest
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: react2_container
    restart: always

    ports:
      - "3000:80"

    networks:
      - app_net
  backend:
    image: react-app2-api:latest
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: react2_api_container
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/react_app2_practice
    depends_on:
      - mongo
    networks:
      - app_net
  mongo:
    image: mongo:6
    container_name: react2_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_net
networks:
  app_net:
    driver: bridge
volumes:
  mongo_data:
