services:
  frontend:
    image: react-app2:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: react2_container
    restart: always

    ports:
      - "3000:80"

    networks:
      - app_net

networks:
  app_net:
    driver: bridge
