version: "3.9"

services:
  frontend:
    image: yuvan2op/react-app2:latest
    container_name: react2_container
    restart: always

    ports:
      - "3000:80"

    networks:
      - app_net

networks:
  app_net:
    driver: bridge
